.side-nav-toggle {
    --toggle-width: 25px;
    --toggle-height: 75px;
    display: block;
    padding: 0 !important;
    min-width: var(--toggle-width);
    min-height: var(--toggle-height);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateX(0%) translateY(100%);
    animation-name: slide-in;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.side-nav-toggle .open-nav {
  transform: translateY(-2px) scale(1.5);
  transition: all 0.3s ease-in-out 0.3s;
}

.rotate-icon {
  transform:  translateY(-2px) scale(1.5) rotateZ(180deg) !important;
}

@keyframes slide-in {
    from{
        transform: translateX(0%) translateY(100%);
    }
    to {
        transform: translateX(-100%) translateY(100%);
    }
}